include settings
div(style="margin: 0 auto;")
    h3 Статистика запросов (из базы данных)
    table(class="table")
        caption Статистика
            tr
                th(class="") Время обработки
                th(class="") Название чата
                th(class="") Активных пользователей
                th(class="") Всего сообщений
                th(class="") Удалить
            each record in records
                tr
                    td(class="") #{record.parsedTime}
                    td(class="") #{record.chatName}
                    td(class="") #{record.activeUsers}
                    td(class="") #{record.totalMessages}
                    td(class="")
                        a(href=`/delete/${record._id}`)
                            button(class="w-100 btn btn-lg btn-danger remove") Удалить
script(src='/script.js')
