include settings
div(style="margin: 0 auto;")
    main(class="form-signin")
        form(id="adminForm" enctype="application/x-www-form-urlencoded" action="/adminPanel" method="POST")
            h3(class="h3 mb-3 fw-normal") Админ-панель
            div(class="form-outline mb-4")
                input(type="password" name="password" class="form-control" id="password" placeholder="введите пароль админа")
                button(class="w-100 btn btn-lg btn-warning" type="submit") Вход
    h3 Статистика чата #{chatName}
    table(class="table")
        caption Статистика
            tr
               th(class="author") Автор
               th(class="num") Всего сообщений
               th(class="num") Набранных лично
               th(class="num") Пересланных
               th(class="num") Оригинальность
            each author in Object.keys(names_posts)
                tr
                    td(class="author")
                        a(href=`/personal/${author}` data-author=author) #{author}
                    td(class="num") #{names_posts[author].total}
                    td(class="num") #{names_posts[author].ownText}
                    td(class="num") #{names_posts[author].fwded}
                    -
                        let orig = names_posts[author].ownText ?
                            ((names_posts[author].ownText/names_posts[author].total)*100).toFixed():
                            0
                        let rgba = `rgb(${250-orig},${+orig+120},125)`
                        //console.log(orig, '/', rgba)
                    td(class="num" style={'background-color':rgba,'font-weight':600}) #{orig} %

